<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing App</title>
</head>
<body>
    <% if (locals.fileLink != null) { %>
        <div style="margin-bottom: 1rem;">
          Your file is upload
          <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>
      <% } %>
    <!-- <% if (locals.fileLink != null){ %>
        <div style="margin-bottom: 1rem ;">
            <a href="<%locals.fileLink%>"><%=locals.fileLink%></a>
        </div>
    <%} %> -->
    <form method="post" action="/upload" enctype="multipart/form-data"
    style="display : grid ; gap: 0.5rem ; max-width : 500px; grid-template-columns : auto 1fr ; margin : 0 auto">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" required>
        <label for="password">Password : </label>
        <input type="password" id="password" name="password" >
        <button type="submit" style="grid-column : span 2">Share</button>
    </form>
</body>
</html>